:root {
    --primaryColour: #000000;
    --primaryTransparency: #0000009e;
    --secondaryColour: #464749;
    --secondaryTransparency: #46474985;
    --tertiaryColour: #e0e0e0;
    --helpText: #0000ff;
    --pageWidth: calc(100vw - 15px);
    --reportingYear: "2021";
}

/*FooPicker Date Picker*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
.foopicker {
    background: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 3px;
    box-shadow: 0 0 3px #bbb;
    color: #666;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    width: 182px;
}

A .foopicker table {
    width: 100%;
}

.foopicker th, .foopicker td {
    text-align: center;
}

.foopicker__calendar {
    font-size: 13px;
    padding: 5px;
}

.foopicker__day {
    cursor: pointer;
    padding: 5px 2px;
    transition: all .2s ease-out;
    width: 22px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.foopicker__day:hover, .foopicker__day:focus {
    background: var(--secondaryColour);
    color: #fff;
}

.foopicker__day--today {
    background: #e0f6fb;
    color: #666;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.19);
}

.foopicker__day--selected {
    background: var(--primaryColour);
    color: #fff;
}

.foopicker__day--disabled {
    background: #e6e6e6;
    color: #bfbfbf;
    cursor: not-allowed;
}

.foopicker__day--disabled:hover {
    background: #e6e6e6;
    color: #bfbfbf;
}

.foopicker__week {
    font-size: 1em;
    font-weight: 600;
}

.foopicker__header {
    background: var(--secondaryColour);
    padding: 15px;
    text-align: center;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
}

.foopicker__header div {
    display: inline-block;
}

.foopicker__arrow {
    background-repeat: no-repeat;
    cursor: pointer;
    height: 24px;
    outline: 0;
    position: absolute;
    top: 31px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 14px;
    filter: brightness(300%);
}

.foopicker__arrow:hover, .foopicker__arrow:focus {
    filter: brightness(0%);
}

.foopicker__arrow--next {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN5wAADecBmRSqJgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADWSURBVBiVfY8xSkNBFEXPe0njxGB24R4srM1YjFhMGYjYuRxLMWI7lZ8EDAqKiN8mC7B2BULMiPh/noUYvoW57Tncy5Xx+OZZhFfVauC9/6QRFeEFiMtl6yqlcuMPzPntGLgE2XPufZrS/eYKxhjr2aw8EuEC2HXu67ooii6A/FpmJpPJ7akIJ0CpWvWludEUzLhT1uS/2ifVygtASqnV6fTOzBiCPNZ13g8hzPUHbI3MGIrwkHPbhxDmAG3neudmDMCmi0X3MMadj9VPM7aBpFofNAHAN0NkW9nLdIQRAAAAAElFTkSuQmCC);
    right: 14px;
}

.foopicker__arrow--prev {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN5wAADecBmRSqJgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADXSURBVBiVXZAxTsNAFETfmMRWvL4C3GVRIlFElFRYHABxB1+CBlFEFBFsgQJrWTIIQRWq9NyDLrG8FGDkeNqn+TPzxUBVVSVtO7oLgaOoD5xbT9r2YAWcSXypA977VIqfQFPg3phxHgHUdW0g8aBpCGFpzDi31jaRc+/ZbqdS4jgEbjebz9xa2wDI+5e3P3A9n8+uJIUuaq/QUFEch1PgQ+KyLF9viqL4N6grtN3q+fd8WGZZfGGtbQZTkhUwk/SQpqNz9TOcW0/S9PsRdAIs9mD/fRAOfwCC1k8eHoJobwAAAABJRU5ErkJggg==);
    left: 18px;
}

.foopicker__month {
    font-size: .875em;
    font-weight: 600;
    text-transform: uppercase;
}

.foopicker__date--month, .foopicker__date--year {
    background: none;
    border: 0;
    color: #666;
    font-size: 13px;
    height: 20px;
    color: white;
}

.foopicker__date--month option, .foopicker__date--year option {
    color: black;
}

/*MAIN IP STYLESHEET*/

body {
    overflow: hidden;
    background-color: #f5f5f5;
}

.questionTitles {
    color: var(--primaryColour);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

/*scrollbar*/

/* width */

::-webkit-scrollbar {
    width: 15px;
    height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.19);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--primaryColour);
}

/*toggle button*/

.toggle-button {
    margin: none;
    border-radius: 20px;
    height: 9px;
    cursor: pointer;
    width: 25px;
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.19);
    background-color: var(--secondaryColour)
}

.toggle-button #toggle-switcher {
    position: absolute;
    left: 16px;
    top: 0;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    background-color: var(--secondaryColour);
    float: left;
    margin: -2px 0 0 -3px;
    border: 2px solid white;
    transition: left 0.3s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

/*scroll Buttons*/

.Scroll--left, .Scroll--right, .Scroll--left_demo, .Scroll--right_demo {
    background: var(--primaryTransparency);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 100%;
    padding: 0.9em;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
    cursor: pointer
}

.Scroll--left, .Scroll--right {
    position: fixed;
    top: 50%;
}

.Scroll--left_demo, .Scroll--right_demo {
    display: inline-block;
}

.Scroll--left:hover, .Scroll--right:hover, .Scroll--left_demo:hover, .Scroll--right_demo:hover {
    background: var(--primaryColour);
}

.Scroll--left {
    float: left;
    left: 5%;
}

.Scroll--right {
    float: right;
    right: 5%
}

/* Completion Tracker */

.completion-tracker {
    --tracker_section--height: 30px;
    height: var(--tracker_section--height);
    background-color: white;
}

.completion-tracker_Boxes {
    width: var(--pageWidth);
    display: table;
}

.completion-tracker_section {
    background-color: white;
    display: inline-block;
    width: calc(var(--pageWidth)/12);
}

#section1 .completion-tracker_progress {
    width: calc(inherit - 2px);
    margin-left: 2px;
}

#section12 .completion-tracker_progress {
    width: calc(inherit - 2px);
    margin-right: 2px;
}

.completion-tracker_progress {
    --tracker_progress--height: calc(var(--tracker_section--height)*0.4);
    height: var(--tracker_progress--height);
    background-color: #e0e0e0;
    margin: 2px 0px;
    background-image: linear-gradient(var(--tertiaryColour), white);
    box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.12), inset 0px 1px 1px 0 rgba(0, 0, 0, 0.12);
}

#section1 .completion-tracker_progress {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#section12 .completion-tracker_progress {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.completion-tracker_label {
    height: calc(var(--tracker_section--height)*0.6);
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: white;
}

.completion-tracker_label--detail {
    display: none;
    text-align: center;
    font-style: italic;
    position: absolute;
    font-size: 14px;
    z-index: 2000;
    padding: 4px 2px;
}

.completion-tracker_section:hover {
    filter: brightness(100%);
    background-color: var(--primaryColour);
    cursor: default;
}

.completion-tracker_section:hover .completion-tracker_label, .completion-tracker_section:hover .completion-tracker_label--detail {
    background-color: var(--primaryColour);
    color: white;
}

.completion-tracker_section:hover .completion-tracker_label--detail {
    animation-name: show-detail;
    -moz-animation-duration: 300ms;
    animation-duration: 300ms;
    display: table-cell;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: fit-content;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

@keyframes show-detail {
    from {
            display: none;
    }
    to {
            display: table-cell;
            height: fit-content;
    }
}

.completion-tracker_section:hover .completion-tracker_progress {
    box-shadow: inset -1px -1px 1px 0 rgba(0, 0, 0, 0.12), inset 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
    filter: brightness(85%);
}

.completion-tracker_section:hover #section1 {
    box-shadow: inset -1px -1px 1px 0 rgba(0, 0, 0, 0.12), inset 0px 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.completion-tracker_section:hover #section12 {
    box-shadow: inset 0px -1px 1px 0 rgba(0, 0, 0, 0.12), inset 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
}

/*report CSS*/

.hideME {
    display: none;
}

#Plug, #PushStickyFooter {
    display: none !important
}

.Skin {
    visibility: hidden;
    overflow-y: scroll;
}

.Skin #Wrapper {
    background: #ffffff;
}

@media screen and (max-width: 1399px) {
    .Skin #SkinContent {
            width: var(--pageWidth);
            clear: left;
            top: 42px;
    }
    div .SBSMatrix {
            max-width: var(--pageWidth);
            padding-left: 5px;
            padding-right: 5px;
            /* margin: auto; */
    }
    .question_Text, .guidancePage {
            margin-left: 10%;
            margin-right: 10%;
    }
    .ChoiceStructure li.Selection {
            max-width: 70vw;
            /*     min-width: fit-content; */
    }
}

@media screen and (min-width: 1400px) {
    .Skin #SkinContent {
            width: var(--pageWidth);
            clear: left;
            top: 42px;
    }
    div .SBSMatrix {
            max-width: var(--pageWidth);
            padding-left: 5px;
            padding-right: 5px;
    }
    .question_Text, .guidancePage {
            margin-left: 25%;
            ;
            margin-right: 25%;
    }
    .ChoiceStructure li.Selection {
            max-width: 50vw;
            /*    min-width: fit-content; */
    }
}

.Skin .TE .FORM table {
    width: 80%;
    margin-left: 20%;
    margin-right: 20%;
}

.Skin .TE .SL .InputText {
    width: 300px;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);
}

/* .question_Text.details {
    margin-left: 2%;
} */

.Skin .ProgressBarContainer label {
    display: none;
}

input:focus, textarea:focus {
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 1);
}

select:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.helpText {
    color: var(--helpText);
    font-style: italic;
}

a[href] {
    text-decoration: none;
    color: var(--primaryColour);
}

a[href]:hover, a[href]:focus {
    text-decoration: underline;
    color: var(--helpText);
}

a[href]:focus {
    outline-style: dashed;
    outline-width: 2px;
    outline-color: var(--helpText);
}

#Logo a:focus {
    outline-style: none;
}

.headingBlank {
    display: none;
}

.Skin #LogoContainer {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: var(--pageWidth);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.Skin #Logo {
    display: block;
}

#Logo img, .menuHelper img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#Logo img {
    display: inline-block;
    cursor: pointer;
}

.menuHelper img {
    max-width: 25px !important;
    max-height: 25px !important;
}

#Logo img:hover, #Logo img:focus, #Logo a:focus img {
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
}

.ProgressBarFillContainer {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.19);
}

.ProgressBarFill {
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5);
}

#pdButton {
    cursor: pointer;
}

.Skin .ProgressBarContainer {
    width: var(--pageWidth);
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 2;
    background: white;
    margin: unset;
}

#HeaderCOntainer {
    position: relative;
    clear: both;
    z-index: 2;
    text-align: center
}

#Header {
    position: relative;
    top: 62px;
    clear: both;
    text-align: center;
}

#reportTitle {
    font-size: 19px;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.Button {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#PreviousButton, #NextButton {
    position: relative;
    bottom: 10px;
    z-index: 100;
}

#Footer {
    margin: 0;
}

#Footer, #Buttons, .SkinInner {
    background-color: white;
}

div #Footer {
    min-width: 100%;
    z-index: 4;
    margin: 0;
}

.navTable, .contactTable {
    display: none;
    /* Allow the centering to work */
    margin: 0 auto;
}

.navTable, .footerNav {
    width: 100%;
}

.footerNav {
    list-style: none;
    display: inline-block;
    position: relative;
    padding-left: unset
}

.navSectionEnd {
    border-bottom: 2px solid var(--secondaryColour);
}

.navSectionStart {
    border-top: 2px solid var(--secondaryColour)
}

.navBreak {
    height: 9px;
}

#navOuter a, .navElement3, #printPage {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navElement, .navElement2, .navElement3 {
    padding-left: 10px;
    padding-right: 10px;
}

.navElement2, .navElement3 {
    display: inline-block;
}

.menuLink:hover, .menuLink a:focus {
    background-color: var(--tertiaryColour);
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.562);
}

.menuLink:hover, .navElement2:hover {
    cursor: pointer;
}

.menuLink:hover .navElement, .navElement2:hover, .navElement3:hover, .menuLink a:focus {
    color: var(--primaryColour);
}

.menuLink:hover .toggle-button #toggle-switcher, .menuLink a:focus .toggle-button #toggle-switcher {
    border-color: var(--primaryColour);
}

.menuLink a[href]:not(.navElement2):hover {
    text-decoration: none
}

.navElement {
    color: inherit;
}

.navElement {
    width: 100%;
}

.navElement2 {
    width: calc(75% - 20px);
}

.navElement3 {
    width: calc(25% - 20px);
}

.navElement3:hover {
    cursor: copy;
}

.navElement3:active {
    cursor: copy
}

.navElement a:link, .navElement a:visited, .navElement2 a:visited {
    text-decoration: none;
}

/* #Footer .contact a:link, #Footer .contact a:visited {
    text-decoration: none;
} */

.Button:hover, .Button:focus {
    color: white;
    background-color: var(--secondaryColour) !important;
    /* override the inbuilt media queries*/
    cursor: pointer;
}

#NextButton:hover, #NextButton:focus, #PreviousButton:hover, #PreviousButton:focus {
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 100;
    animation-name: raise;
    animation-duration: 100ms;
    bottom: 13px;
}

@keyframes raise {
    from {
            bottom: 10px;
    }
    to {
            bottom: 13px;
    }
}

.Skin #Buttons {
    margin-top: 13px;
}

#NextButton {
    margin-right: 66px;
    right: 1%
}

#PreviousButton {
    margin-left: 66px;
    left: 1%;
}

#navOuter {
    box-shadow: -1px 0px 4px 0px rgb(0, 0, 0);
    z-index: 200;
    position: fixed;
    top: 56px;
    left: calc(50% - 189px);
    background-color: var(--primaryColour);
    border-radius: 5px;
    width: 378px;
    display: none;
}

.menuSectionHeader {
    background-color: var(--tertiaryColour);
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
    color: var(--primaryColour);
}

#Footer em {
    padding-left: 10px;
    padding-right: 10px;
    cursor: context-menu;
}

#declarationimg:hover, #declarationimg:focus {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-filter: opacity(70%);
    filter: opacity(70%);
}

.declarationWrapper {
    text-align: -webkit-center;
    text-align: center;
}

.matrixQText {
    display: block;
}

.dropzone.dz-clickable, #QID156-1-label, #QID156-2-label, #QID86-1-label, #QID86-2-label {
    max-width: 90%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.dropzone.dz-clickable {
    height: 70px;
}

#QID156-1-label:hover, #QID156-2-label:hover, #QID86-1-label:hover, #QID86-2-label:hover {
    color: var(--primaryColour)
}

.dropzone .dz-message {
    padding: 0;
    margin: 0 !important;
}

.dropzone.dz-drag-hover, .dropzone:not(.dz-max-files-reached):hover {
    background: var(--primaryColour);
    color: white;
}

.dropzone:hover .dropzone-btn, .dropzone:focus .dropzone-btn {
    color: var(--tertiaryColour)
}

.ResponseSummary {
    display: none;
}

.Skin #EndOfSurvey {
    border: 1px solid #aaa;
    border-width: 1px 0;
    background: rgba(0, 0, 0, .06);
    padding: 20px;
    box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.19), inset 0px 1px 1px rgba(0, 0, 0, 0.19);
}

.FileUploadName {
    float: left;
}

.dropzone .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: -52px;
    left: -27px;
    font-size: 13px;
    min-width: 100%;
    max-width: none;
    padding: 2em 1em;
    text-align: left;
    color: var(--primaryColour);
    line-height: 100%;
}

.dropzone .dz-preview .dz-image {
    display: none;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: var(--primaryColour);
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    max-width: 300px;
    font-size: 12px Arial;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.tooltipHelp {
    color: var(--primaryColour);
}

#caseStudies_Template {
    display: none;
}

/* Question specific */

/* Invoicing address input field */

.QR-QID56-4 {
    min-width: 800px;
}

/* Total Rows */

.detailsTotal {
    background: var(--tertiaryColour);
}

/*inline CSS*/

.QuestionBody {
    /*upload buttons*/
    text-align: -webkit-center;
}

.LabelWrapper {
    /*supporting docs Yes/No*/
    text-align: -webkit-center;
}

/*Response Summary*/

.ResponseSummary~.QuestionOuter .question_Text, .ResponseSummary~.QuestionOuter .QuestionText {
    max-width: var(--pageWidth);
    margin-left: unset;
}

@media screen and (max-width: 1399px) {
    .ResponseSummary~.QuestionOuter .ChoiceStructure:not(table) textarea {
            min-height: 350px !important;
    }
    .ResponseSummary~.QuestionOuter .question_Text, .ResponseSummary~.QuestionOuter .QuestionText {
            margin-left: unset;
    }
    .ResponseSummary~.QuestionOuter.MC ul.ChoiceStructure, .MC.ResponseSummaryQuestion {
            /*   width: var(--pageWidth); */
            float: left;
    }
    .ResponseSummary~.QuestionOuter .FileUpload {
            max-width: var(--pageWidth);
            padding-left: 3%;
            padding-right: 3%;
    }
}

@media screen and (min-width: 1400px) {
    .ResponseSummary~.QuestionOuter .ChoiceStructure:not(table) textarea {
            min-height: 150px !important;
    }
    .ResponseSummary~.QuestionOuter.MC .QuestionBody {
            max-width: 100vw;
            margin: 0;
    }
    .ResponseSummary~.QuestionOuter.MC ul.ChoiceStructure, .MC.ResponseSummaryQuestion ul.ChoiceStructure {
            width: 50vw;
            margin-left: 25vw !important;
            margin-right: 25vw !important;
    }
    .ResponseSummary~.QuestionOuter .FileUpload {
            max-width: var(--pageWidth);
            padding-left: 3%;
            padding-right: 15%;
    }
}

.ResponseSummary~.QuestionOuter .Inner, .ResponseSummary~.QuestionOuter .matrixQText, .ResponseSummary~div .SBSMatrix, .ResponseSummary~.QuestionOuter .fieldset {
    min-width: min-content;
}

.ResponseSummary~.QuestionOuter.TE, .ResponseSummary~.QuestionOuter .FileUpload, .FileUpload.ResponseSummaryQuestion, .ResponseSummary~.QuestionOuter .matrixQText>div:first-of-type {
    max-width: var(--pageWidth);
}

.ResponseSummary~.QuestionOuter.MC .QuestionBody {
    max-width: var(--pageWidth);
    margin-left: 0;
}

.ResponseSummary~.QuestionOuter.FileUpload .dropzone, .FileUpload.ResponseSummaryQuestion .dropzone {
    max-width: 1080px;
}

.ResponseSummary~.QuestionOuter .matrixQText {
    display: block;
}

.ResponseSummary~.QuestionOuter .preCompletion {
    display: none;
}

.ResponseSummary~.QuestionOuter, .QuestionOuter.ResponseSummaryQuestion {
    display: block;
    clear: both;
}

@media print {
    .Skin, #SkinContent {
            margin: 0;
            float: none;
    }
    .Skin, #SkinContent, div .SBSMatrix, .question_Text, .QuestionText, table.ChoiceStructure {
            max-width: none;
            min-width: none;
    }
    #SkinContent {
            top: 0cm;
            left: 0cm;
    }
    .question_Text {
            margin: 0/* !important */
            ;
    }
    @page {
            size: A1 landscape;
            margin: 2cm;
            /*  @bottom-center {
                    --reportingYear: "2021";
                    content: var(--reportingYear) " Consolidated IP & Commercialisation Report";
            } */
    }
    a:link, a:visited, a {
            background: transparent;
            font-weight: bold;
            text-align: left;
    }
    a {
            break-inside: avoid
    }
    a[href^=http]:after {
            text-decoration: underline;
            content: " (" attr(href) ")";
            color: var(--helpText);
    }
    table.ChoiceStructure {
            clear: left;
            float: none;
            break-inside: avoid;
    }
    /* Table branding */
    table.ChoiceStructure tbody tr:nth-child(even), table.ChoiceStructure tbody tr:nth-child(even) .InputText, table.ChoiceStructure tbody tr:nth-child(even) .q-checkbox, table.ChoiceStructure tbody tr:nth-child(even) select {
            background: #e6e6e6 !important;
    }
    table.ChoiceStructure tbody tr:nth-child(odd), table.ChoiceStructure tbody tr:nth-child(odd) .InputText, table.ChoiceStructure tbody tr:nth-child(odd) .q-checkbox, table.ChoiceStructure tbody tr:nth-child(odd) select {
            background: white !important;
    }
    table.ChoiceStructure thead {
            background: #002E45;
            color: white
    }
    table.ChoiceStructure thead .helpText {
            color: #FFF8BD;
    }
    table.ChoiceStructure tbody th {
            font-weight: bold;
    }
    table.ChoiceStructure tbody, .matrixQText, .question_Text, .questionTitles, .SBS .Essay, .SBS .Short, .SBS .Medium, .SBS .Long, .SBS .q-checkbox, .SBS select {
            color: #002E45 !important;
    }
    table.ChoiceStructure .Essay {
            resize: none;
    }
    table.ChoiceStructure select {
            o-appearance: none;
            -ms-appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
    }
    .SBS .c2, .SBS .Separator1 {
            border-right: none !important;
    }
    .SBS .Answers td, .Skin .SBS .Answers th {
            border-bottom: none !important;
    }
    .SBS .Essay, .SBS .Short, .SBS .Medium, .SBS .Long, .SBS .q-checkbox, .SBS select {
            border: none !important;
    }
    .Skin .SBS td, .Skin .SBS thead th, .SBS .Essay, .SBS .Short, .SBS .Medium .SBS .Long {
            text-align: left !important;
    }
    /* Table with total row */
    #QID58 table.ChoiceStructure tbody tr:last-child th, #QID58 table.ChoiceStructure tbody tr:last-child td {
            border-top: 4px solid #002E45;
            border-bottom: 4px solid #002E45;
            font-weight: bold;
    }
    .ResponseSummary~.QuestionOuter {
            break-inside: avoid;
    }
    /* Hidden elements */
    #ResponseSummaryHeader, #EndOfSurvey, .navOuter, .ResponseSummary~.Separator, .non-null, .noPrint, .QuestionOuter.FileUpload, #Buttons, #QID17/* new transaction upload header */
    , #QID63/* declaration downloads */
    , #QID67/* declaration upload */
    , #QID69/* Declaration upload */
    , #QID70/* supporting docs */
    , #QID83/* pre-completion check JS */
    , #QID84/* Browser info */
    , #QID86/* delcaration download */
    , table.ChoiceStructure .Headings .helpText/* details question help text */
    , .menuHelper/* Menu highlight help text */
    , .check~.helpText/* completion check text alert */
    , #ExtendSubmissions/* Extended submissions  */
    , .Scroll--left, .Scroll--right/* side scroll buttons */
    , #HeaderContainer, #LogoContainer, ::-webkit-scrollbar {
            display: none !important;
    }
}